@use '../styles/variables' as v;
@use 'fonts';
@use 'layout';

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: v.$default-bg-color;
}

body {
  margin: 0;
  color: v.$primary-text-color;
  font-family: 'Arial', sans-serif;
}
