{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "singleAttributePerLine": true,
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": [
    "./node_modules/prettier-plugin-rational-order/src/index.js",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^[react]",
    "^react-.*$",
    "^./hooks",
    "^@(?!/)",
    "^@/assets",
    "^@/entities",
    "^@/features",
    "^@/widget",
    "^@/shared",
    "^./ui",
    "^[./]",
    "\\.(scss|css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
