@use '@styles/variables' as v;

$radius: 8px;
$horizontalPadding: 14px;
$smallIconSize: 7px;

.select {
  position: relative;
  display: block;
  color: v.$placeholder-color;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 20px;

  &__control {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 18px $horizontalPadding;
    background: #fff;
    border: 1px solid v.$border-color;
    border-radius: $radius;
    cursor: pointer;

    &:hover {
      .select__arrow_withValue {
        opacity: 0;
      }
      .select__close {
        opacity: 0.54;
      }
    }
  }

  &__arrow {
    transition: all 150ms ease;
    &_open {
      transform: rotate(-180deg);
    }
  }

  &__close {
    position: absolute;
    right: $horizontalPadding;
    z-index: 1;
    opacity: 0;
    transition: all 150ms ease;
  }

  &__list {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    margin-top: 8px;
    padding: $radius 0;
    overflow: auto;
    background: #fff;
    border: 1px solid v.$border-color;
    border-radius: $radius;
  }

  &__option {
    padding: 10px $horizontalPadding;
    cursor: pointer;

    &:hover {
      font-weight: 600;
      background: v.$accent-color;
    }

    &_selected {
      background: v.$accent-light-color;
    }
  }

  &_small {
    font-size: 14px;
    line-height: 17px;

    .select__control {
      padding: 5px $horizontalPadding 5px 5px;
    }
    .select__option {
      padding: 5px $horizontalPadding 5px 5px;
    }
    .select__arrow {
      width: $smallIconSize;
    }
    .select__close {
      width: $smallIconSize;
    }
  }
}
