.logo {
  position: relative;
  background-position: center;
  background-size: cover;

  &_large {
    width: 600px;
    height: 200px;
    background-image: url('@images/logo_lg.png');
  }
  &_small {
    width: 46px;
    height: 49px;
    background-image: url('@images/logo_sm.png');
  }
}
